.footer {
  background-color: #111;
  padding: 50px 0;
  display: flex;
  align-items: center;
  color: white;
}

.footer__wrapper {
  margin-top: 70px;
}

.footer__content {
  display: flex;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: center;

    .footer__copyright {
      margin-bottom: 30px;
    }
  }

  @include media-breakpoint-up(lg) {
    justify-content: space-between;
  }

  .footer__copyright {
    color: $gray;
  }
}

.footer__banner {
  background-image: url("../../assets/banner.png");
  background-color: #dc3545;
  height: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
